		<x-ng-include src="'/partials/_topnav.html'"></x-ng-include>
		
		<div class="grid">
			<div class="grid__col grid__col--1-of-12"></div>
			<div class="grid__col grid__col--7-of-12">
	 			<ul class="list-unstyled">
					<li x-ng-repeat="readLater in newReadLaters" id="{{readLater.id}}">
						<read-laters read-later="readLater" mode="edit" remove-on-cancel="true"
							is-manageable="isManageable" on-save="saveReadLater(readLater, cb)" on-delete="deleteReadLater(readLater)"></read-laters>
					</li>
				</ul>
				
	 			<ul class="list-unstyled push-up">
	 				<li class="li-item">
	 					<div class="wp-view">
		 					<div class="attr title"><a x-ng-href="{{webUrl.url}}"><span x-ng-bind-html="webUrl.title"></span></a></div>
							<div class="attr ellipsis text-muted">{{webUrl.url}}</div>
							<div class="attr desc" x-ng-bind-html="webUrl.description"></div>
							<div class="text-muted" style="margin-top: 10px;">added {{webUrl.dateCreated | dateFormat}} by 
								<a x-ng-href="/@{{webUrl.userName}}">{{webUrl.userName}}</a></div>
						</div>
					</li>
					<li><h4 class="text-muted">also added by {{bookmarks.length}} other{{(bookmarks.length == 1 ? '' : 's')}}</h4></li>
					<li x-ng-repeat="bookmark in bookmarks" id="{{bookmark.id}}" class="li-item">
						<div class="rl-view">
							<div class="attr desc" x-ng-bind-html="(bookmark.description || bookmark.title)"></div>
							<div class="attr">
								<span class="tag" x-ng-repeat="tag in bookmark.tags"><a x-ng-href="{{(targetUser ? '/' + targetUser.atName : '')}}/urls?t={{tag.id}}">{{tag.id}}</a></span>
							</div>
							<div>
								<div class="text-muted">{{bookmark.dateCreated | dateFormat }}
									by <a x-ng-href="/@{{bookmark.userName}}">{{bookmark.userName}}</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="grid__col grid__col--3-of-12">
				<div class="subheading">Recent tags</div>
				<ul class="list-unstyled">
					<li x-ng-repeat="tag in tags.all">
						<span class="tag"><a x-ng-click="filterByTag(tag.id, '/urls')">{{tag.id}}</a> 
							<span x-ng-show="{{tag.count > 1}}" class="count">{{tag.count}}</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="grid__col grid__col--1-of-12"></div>
		</div>
		