		<x-ng-include src="'/partials/_topnav.html'"></x-ng-include>
		
		<div class="grid">
			<div class="grid__col grid__col--1-of-12"></div>
			<div class="grid__col grid__col--7-of-12">
	 			<ul class="list-unstyled" x-ng-show="newReadLaters.length">
					<li x-ng-repeat="readLater in newReadLaters" id="{{readLater.id}}">
						<read-laters read-later="readLater" mode="edit" removeOnDone="true" 
							is-manageable="isManageable" on-save="saveReadLater(readLater, cb)" on-delete="deleteReadLater(readLater)"></read-laters>
					</li>
				</ul>
			
	 			<ul class="list-unstyled push-up">
					<li x-ng-repeat="readLater in readLaters" id="{{readLater.id}}" class="li-item">
						<read-laters read-later="readLater" mode="view" target-user="targetUser"
							is-manageable="isManageable" on-save="saveReadLater(readLater, cb)" on-delete="deleteReadLater(readLater)"></read-laters>
					</li>
				</ul>
				<div>
					<tlrl-page class="pull-right" page-request="pageRequest"/>
				</div>
			</div>
			<div class="grid__col grid__col--3-of-12">
				<time datetime="2001-05-15 19:00"></time>
				<div class="total text-muted"><small>Found</small> {{pageResult.total}}</div>
				bookmark{{(pageResult.total == 1 ? '' : 's')}} <span x-ng-show="tags.selected.length">tagged (<a x-ng-click="clearTags()">clear</a>)</span>
				<p class="tags">
					<span x-ng-repeat="tag in tags.selected">
						<span class="tag"><a x-ng-click="removeTag(tag)">{{tag}} &#215;</a></span>
					</span>
				</p>
				<div x-ng-show="tags.related.length">
					<div class="subheading">Related tags</div>
					<ul class="list-unstyled">
						<li x-ng-repeat="tag in tags.related">
							<span class="tag"><a x-ng-click="filterSearchWithTag(tag.id)">{{tag.id}}</a> <span x-ng-show="{{tag.count > 1}}" class="count">{{tag.count}}</span></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="grid__col grid__col--1-of-12"></div>
		</div>
