				<div class="rl-view" x-ng-class="{'isPublic': (isManageable && readLater.shared)}">
					<div class="attr title">
						<a x-ng-href="{{readLater.url}}" x-ng-class="{'unread' : readLater.status == 'UNREAD'}">
							<span x-ng-bind-html="(readLater.title || readLater.url)"></span></a> {{(readLater.refCount || '')}} 
					</div>
					<div class="attr ellipsis text-muted">{{readLater.url}}</div>
					<div class="attr desc" x-ng-bind-html="(readLater.description || readLater.content)"></div>
					<div class="attr">
						<span class="tag" x-ng-repeat="tag in readLater.tags"><a x-ng-href="{{(targetUser ? '/' + targetUser.atName : '')}}?t={{tag.id}}">{{tag.id}}</a></span>
					</div>
					<div>
						<div class="text-muted">
								{{readLater.dateCreated | dateFormat }}
							<span class="spacer">&middot;</span>
							<span x-ng-hide="isManageable"> by <a x-ng-href="/@{{readLater.userName}}">{{readLater.userName}}</a></span>
							<span x-ng-show="isManageable">
								<i class="fa" x-ng-class="readLater.shared ? 'fa-unlock-alt' : 'fa-lock'"></i> shared 
							</span>
							<span x-ng-show="isManageable">
							<span class="spacer">&middot;</span>
								<a x-ng-click="showEdit()">edit</a>
								<span class="spacer">&middot;</span>
								<i class="fa fa-bookmark-o {{readLater.status}}"></i>	
								<span x-ng-show="(readLater.status == 'NA')">add to <a x-ng-click="updateStatus('UNREAD')">read later</a></span>
								<span x-ng-show="(readLater.status != 'NA')">mark as
									<a x-ng-click="updateStatus('UNREAD')" x-ng-show="(readLater.status == 'READ')">unread</a>
									<a x-ng-click="updateStatus('READ')" x-ng-show="(readLater.status == 'UNREAD')">read</a>
									or <a x-ng-click="updateStatus('NA')">remove</a> 
								</span>
								<span class="pull-right">
									<i class="fa fa-trash"></i>
									<a x-ng-click="onDelete(readLater)">delete</a>
								</span> 
							</span> 
						</div>
					</div>
				</div>