		<x-ng-include src="'/partials/_topnav.html'"></x-ng-include>
		
		<div class="grid">
			<div class="grid__col grid__col--1-of-12"></div>
			<div class="grid__col grid__col--7-of-12">
	 			<ul class="list-unstyled">
					<li x-ng-repeat="readLater in newReadLaters" id="{{readLater.id}}">
						<read-laters read-later="readLater" mode="edit" remove-on-cancel="true"
							is-manageable="isManageable" on-save="saveReadLater(readLater, cb)" on-delete="deleteReadLater(readLater)"></read-laters>
					</li>
				</ul>
				
	 			<ul class="list-unstyled push-up">
	 				<li class="li-item">
	 					<div class="wp-view">
		 					<div class="attr title"><a x-ng-href="{{webPage.url}}"><span x-ng-bind-html="(webPage.title || webPage.url)"></span></a></div>
							<div class="attr ellipsis text-muted">{{webPage.url}}</div>
							<div class="attr desc" x-ng-bind-html="webPage.description"></div>
							<div class="text-muted" style="margin-top: 10px;">added {{webPage.dateCreated | dateFormat}} by 
								<a x-ng-href="/@{{webPage.user.name}}/urls">{{webPage.user.name}}</a></div>
						</div>
					</li>
					<li x-ng-show="(webPage.refCount > 0)"><h4 class="text-muted">also added by {{webPage.refCount}} other{{(webPage.refCount > 1 ? 's' : '')}}</h4></li>
					<li x-ng-repeat="readLater in webPage.readLaters" id="{{readLater.id}}" class="li-item" 
							x-ng-if="readLater.userName != webPage.user.name">
						<div class="rl-view">
							<div class="attr desc" x-ng-bind-html="(readLater.description || readLater.content)"></div>
							<div class="attr">
								<span class="tag" x-ng-repeat="tag in readLater.tags"><a x-ng-href="{{(targetUser ? '/' + targetUser.atName : '')}}/urls?t={{tag.id}}">{{tag.id}}</a></span>
							</div>
							<div>
								<div class="text-muted">{{readLater.dateCreated | dateFormat }}
									by <a x-ng-href="/@{{readLater.userName}}/urls">{{readLater.userName}}</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="grid__col grid__col--3-of-12">
				<div class="subheading">Recent tags</div>
				<ul class="list-unstyled">
					<li x-ng-repeat="tag in tags.all">
						<span class="tag"><a x-ng-click="filterByTag(tag.id, '/urls')">{{tag.id}}</a> 
							<span x-ng-show="{{tag.count > 1}}" class="count">{{tag.count}}</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="grid__col grid__col--1-of-12"></div>
		</div>
		